<html>
<title>PROJECTS</title>
<head>
</head>

<div>
  <br>
</div>

<body>
  <div *ngFor="let project of projects; let i of index" (click)="setHyperLinks(i.id)" class="card card-1">
      <div class="row justify-content-center">
        <img src="{{project.image}}">
        <!--
        <div class="row justify-content-center">
          <div class="col-md-12">
            <p>{{project.name}}</p>
            <br>
            <p class="cardInformation">{{project.description}}</p>
          </div>
        </div>-->
      </div>
  </div>

<div class="container-fluid" id="pageBreak">
  <br>
</div>
</body>
</html>
