<html>
<title>PROJECTS</title>
<head>
</head>

<body>
<br>

<div class="row justify-content-center">
  <div *ngFor="let project of projects; let i of index" (click)="setHyperLinks(i.id)" class="card card-1">
    <div class="row justify-content-center">
      <img src="{{project.image}}">
        <div class="col-md-12">
          <p class="text-center">{{project.name}}</p>
        </div>
    </div>
  </div>
</div>

<br>
<br>

<div class="container-fluid" id="pageBreak">
  <br>
</div>
</body>
</html>
