<html>
<title>PROJECTS</title>
<head>
</head>

<body>
<br>

<div class="row justify-content-center text-center">
  <div *ngFor="let project of projects; let i of index" (click)="setHyperLinks(i.id)" class="card" style="width: 12rem;">
    <br>
    <i class="{{project.image}}"></i>
    <div class="card-body">
      <p class="card-text"><b>{{project.name}}</b></p>
      <p class="card-text">{{project.description}}</p>
    </div>
  </div>
</div>

<br>
<br>

<div class="container-fluid" id="pageBreak">
  <br>
</div>
</body>
</html>
