<!--The content below is only a placeholder and can be replaced.-->
<html>
  <title>Maxime de Lange</title>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>

  <body>
  <!--Page line break-->
  <div class="container-fluid" class="bg-light" id="introPageBreak8">
    <br>
  </div>

  <!--Page line break-->
  <div class="container-fluid" class="bg-danger" id="introPageBreak9">
    <br>
  </div>

  <!--Page line break-->
  <div class="container-fluid" class="bg-light" id="introPageBreak10">
    <br>
  </div>

  <!--Small header for removing whitespace-->
  <div class="container-fluid" class="bg-dark" id="introPageBreak1">
    <br>
    <br>
  </div>

  <!--Introduction with image and slogan.-->
    <div class="container-fluid" class="bg-dark" id="introIntroduction">
      <div class="row justify-content-center">
        <img src="assets/images/iteration2/introductionimagev3.PNG" width="100%" height="10%">
      </div>
      <div class="bg-dark">
        <br>
        <br>
      </div>
    </div>

    <!--Page line break-->
    <div class="container-fluid" class="bg-light" id="introPageBreak2">
      <br>
    </div>

    <!--Page line break-->
    <div class="container-fluid" class="bg-danger" id="introPageBreak3">
      <br>
    </div>

    <!--Page line break-->
    <div class="container-fluid" class="bg-light" id="introPageBreak4">
      <br>
    </div>

    <!--Link to my personal ambitions and future perspectives-->
  <div class="container">
    <div class="col-12">
      <div class="bg-light">
        <div class="row justify-content-center">
          <img class="col-md-4 padtop" src="assets/images/iteration2/ambition.png" width="200px" height="200px">
          <div class="overlay">
            <div class="text">
              <h2>CHECK OUT MY SKILL LIST</h2>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-12">
      <div class="bg-light">
        <div class="row justify-content-center">
          <img class="col-md-4 padtop" src="assets/images/iteration2/personalinterests.png" width="200px" height="200px">
          <div class="overlay">
            <div class="text">
              <h2>WHAT ARE MY PERSONAL INTERESTS</h2>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>

    <!--Link to my projects-->
  <div class="container">
    <div class="col-12">
      <div class="bg-light">
        <div class="row justify-content-center">
          <img class="col-md-4 padtop" src="assets/images/iteration2/projects.png" width="200px" height="200px">
          <div class="overlay">
            <div class="text">
              <h2>PROJECTS I HAVE WORKED ON</h2>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-12">
      <div class="bg-light">

        <div class="row justify-content-center">
          <img class="col-md-4 padtop" src="assets/images/iteration2/contact.png" width="200px" height="200px">
          <div class="overlay">
            <div class="text">
              <h2>CONTACT MAXIME DE LANGE</h2>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>

    <!--Page line break-->
    <div class="container-fluid" class="bg-light" id="introPageBreak5">
      <br>
    </div>

    <!--Page line break-->
    <div class="container-fluid" class="bg-danger" id="introPageBreak6">
      <br>
    </div>

    <!--Page line break-->
    <div class="container-fluid" class="bg-light" id="introPageBreak7">
      <br>
    </div>

    <!--Link to my personal information and who I am-->
    <div class="row" id="introContact">
      <div class="col-12">
        <div class="bg-light">
            <!--Placeholder-->
          <br>
        </div>
      </div>
    </div>
  </body>
</html>



