<!--The content below is only a placeholder and can be replaced.-->
<html>
  <title>Maxime de Lange</title>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>

  <body>
  <!--Small header for removing whitespace-->
  <div class="container-fluid" class="bg-dark" id="introPageBreak1">
    <br>
  </div>

  <!--Introduction with image and slogan.-->
    <div class="container-fluid" class="bg-dark" id="introIntroduction">
      <div class="row justify-content-center">
        <img src="assets/images/maxime2.jpg" class="rounded-circle" height="300px" width="300px">
      </div>
      <div class="row justify-content-center" id="introduction">
        <h1 class="text-danger">{{title}}</h1>
      </div>
    </div>

    <!--Page line break-->
    <div class="container-fluid" class="bg-light" id="introPageBreak2">
      <br>
    </div>

    <!--Page line break-->
    <div class="container-fluid" class="bg-danger" id="introPageBreak3">
      <br>
    </div>

    <!--Page line break-->
    <div class="container-fluid" class="bg-light" id="introPageBreak4">
      <br>
    </div>

    <!--Information and hyperlinks to my personal information-->
    <div id="introText">

    </div>

    <!--Link to my personal ambitions and future perspectives-->
    <div class="row" id="introAmbitions">
      <div class="col-6">
        <div class="bg-dark">
          {{ambitions}}
        </div>
      </div>

      <div class="col-6">
        <div class="bg-danger">
          {{interests}}
        </div>
      </div>
    </div>

    <!--Link to my projects-->
    <div class="row" id="introProjects">
      <div class="col-6">
          <div class="bg-warning">
            {{projects}}
          </div>
      </div>

      <div class="col-6">
        <div class="bg-primary">
          {{capabilities}}
        </div>
      </div>
    </div>

    <!--Link to my personal information and who I am-->
    <div class="row" id="introContact">
      <div class="col-6">
        <div class="bg-success">
          {{contact}}
        </div>
      </div>
    </div>
  </body>
</html>



