<html>
  <title>SKILLS</title>
  <head>
  </head>

  <div>
    <br>
  </div>

  <body>
    <div *ngFor="let skill of skills" class="card card-1">
      <header class="divColor">
        <br>
        <div class="row justify-content-center">
          <img class="rounded-circle" src="{{skill.image}}">
        </div>
      </header>
      <div class="row justify-content-center">
        {{skill.name}}
        {{skill.framework}}
      </div>
      <div class="row justify-content-center">
        <div class="col-md-12">
          <br>
          <p class="cardInformation"></p>
        </div>
      </div>
    </div>

  <div class="container-fluid" id="introPageBreak2">
    <br>
  </div>
  </body>
</html>
