.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #333333;
}

/*
.container:hover .overlay{
  opacity: 1;
}

#image1:hover #overlay1{
  opacity: 1;
}

#image2:hover #overlay2{
  opacity: 1;
}

#image3:hover #overlay3{
  opacity: 1;
}

#image4:hover #overlay4{
  opacity: 1;
}
*/

.text {
  color: white;
  font-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text a {
  color: #FFFFFF;
  text-decoration: none;
}

body {
  overflow-x: hidden !important;
}
body > * {
  max-width: 100% !important;
}

h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 2.5vw;
}
p {
  font-size: 2vw;
}

li{
  margin-left: 5%;
}

#introPageBreak6{
  background-color: saddlebrown;
}

#introPageBreak9{
  background-color: saddlebrown;
}

#introPageBreak12{
  background-color: saddlebrown;
}

#containerIntro{
  width: 100%;
  height: 100%;
}

.introText {
  position: absolute;
  width: 100%;
  background-color: #D8315B;
  color: #FFFFFF;
  font-weight: bold;
  opacity: 1;
  margin-top: 25%;
}

.introName{
  position: absolute;
  left: 25%;
  width: 50%;
  background-color: #3E92CC;
  color: #FFFFFF;
  font-weight: bold;
  opacity: 1;
  margin-top: 10%;
}

.introJoke{
  position: absolute;
  left: 12.5%;
  width: 75%;
  background-color: #0A2463;
  color: #FFFFFF;
  font-weight: bold;
  opacity: 0.2;
  margin-top: 5%;
}

.introJoke2{
  position: absolute;
  left: 12.5%;
  width: 75%;
  background-color: #0A2463;
  color: #FFFFFF;
  font-weight: bold;
  opacity: 0.5;
  margin-top: 20%;
}

.divider{
  background-color: #0A2463;
}
