<html>
  <title>HOME</title>
  <head>
  </head>

  <body>
  <!--Introduction with image and slogan.-->
    <div id="containerintro">
      <div *ngFor="let ambition of ambitions" class="introJoke">
        <div class="row justify-content-center">
          <!--<h2>{{ambition.description}}</h2>-->
          <h2>{{joke}}</h2>
        </div>
      </div>

      <div class="introName">
        <div class="row justify-content-center">
          <h2>{{name}}</h2>
        </div>
      </div>

      <div class="introJoke2">
          <div class="row justify-content-center">
            <h2>{{joke2}}</h2>
          </div>
      </div>

      <div class="introText">
        <div class="row justify-content-center">
          <h2>{{introduction}}</h2>
        </div>
      </div>
      <img src="assets/images/iteration3/maximeprofilepicwebsite.jpg" width="100%" height="10%">
    </div>

  <div class="divider">
    <br>
  </div>

  <div class="container-fluid text-center">
    <br>
    <h3 class="aboutMe">About me</h3>
    <br>
    <div class="container-fluid col-md-6">
      <p>
        I am a junior software engineer with a passion for developing and desiging software.
        I try to innovate as much as possible, because in this business that is really important.
      </p>
      <hr class="style14">
      <p>
        I like to spend a lot of free time to learn more about software and the design process of it.
        Currently learning a lot about cryptocurrencies and I try to participate in that community when I can.
      </p>
      <hr class="style14">
      <p>
        Besides software I like to spend my time with family and friends, having a drink and a laugther. Finding the
        right balance is very important to me. I enjoy fitness activities and riding cars.
      </p>
    </div>

    <div class="container-fluid text-center">
      <h3 class="interestsMe">My interests, norms and values</h3>
      <br>
      <div *ngFor="let interest of myInterests" class="card" style="width: 12rem;">
        <br>
        <div class="row">
          <div class="col">
            <i class="{{interest.image}}"></i>
            <div class="card-body">
              <p class="card-text"><b>{{interest.name}}</b></p>
              <!--<p class="card-text">{{interest.description}}</p>-->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  </body>
</html>
