<html>
  <title>HOME</title>
  <head>
  </head>

  <body>
  <!--Introduction with image and slogan.-->
  <div class="container-fluid" class="bg-dark" id="introIntroduction">
    <div class="row justify-content-center">
      <img src="assets/images/iteration2/introductionimagev3.PNG" width="100%" height="10%">
    </div>
    <div class="bg-dark">
      <br>
      <br>
    </div>
  </div>

  <!--Page line break-->
  <div class="container-fluid" id="introPageBreak5">
    <br>
  </div>

  <!--Page line break-->
  <div class="container-fluid" class="bg-danger" id="introPageBreak6">
    <br>
  </div>

  <!--Page line break-->
  <div class="container-fluid" id="introPageBreak7">
    <br>
  </div>

  <div class="container-fluid">
    <div class="row justify-content-center">
      <h2>{{introduction}}</h2>
    </div>
  </div>

  <!--Page line break-->
  <div class="container-fluid" id="introPageBreak8">
    <br>
  </div>

  <!--Page line break-->
  <div class="container-fluid" class="bg-danger" id="introPageBreak9">
    <br>
  </div>

  <!--Page line break-->
  <div class="container-fluid" id="introPageBreak10">
    <br>
  </div>

  <!--Content that made this site. Video automatically plays when website is loaded.
      Content is available for Android and IOS and working with Chrome and Safari-->
  <div ng-app="app" ng-controller="videoplayer" class="row no-gutters">
    <div class="col-6">
      <video id="video1" autoplay muted loop>
        <source src="http://maximedelange.com/assets/videos/cssmovie.mp4" type="video/mp4">
        <p>Your browser does not support the video element.</p>
      </video>
    </div>

    <div class="col-6">
      <video id="video2" autoplay muted loop>
        <source src="http://maximedelange.com/assets/videos/htmlmovie.mp4" typeof="video/mp4">
        <p>Your browser does not support the video element.</p>
      </video>
    </div>
  </div>

  <!--Page line break-->
  <div class="container-fluid" id="introPageBreak11">
    <br>
  </div>

  <!--Page line break-->
  <div class="container-fluid" class="bg-danger" id="introPageBreak12">
    <br>
  </div>

  <!--Page line break-->
  <div class="container-fluid" id="introPageBreak13">
    <br>
  </div>

  <!--Page line break-->
  <div class="container-fluid" id="introPageBreak16">
    <br>
  </div>

  </body>
</html>
