.col-md-2{
  width: 50%;
}

#pageBreak{
  background-color: #0A2463;
}

.card {
  border-radius: 2px;
  display: inline-block;
  margin: 0.2rem;
  opacity: 0.5;
  background-color: #80ffbf;
}

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  color: #0A2463;
  opacity: 1;
}

body{
  background-color: gainsboro;
}

.fa-envelope, .fa-facebook-square, .fa-linkedin, .fa-github-square, .fa-reddit-square, .fa-stack-overflow, .fa-twitter-square{
  font-size: 72px;
}

