ul {
  width: 100%;
  background: #cca98a;
  text-align:center;
  padding: 20px;
}

ul{
  font-size: 100%;
  font-weight: bold;
}

.col-md-2{
  width: 50%;
}

#pageBreak{
  background-color: saddlebrown;
}
