<html>
  <title>CONTACT</title>
  <head>
  </head>

  <body>
  <br>

  <div class="row justify-content-center">
    <div *ngFor="let contactme of contacts; let i of index" (click)="setHyperLinks(i.id)" class="card card-1">
      <div class="row justify-content-center">
        <img src="{{contactme.image}}">
        <p class="text-center">{{contactme.name}}</p>
        <div class="hoverCard">
          <p class="text-center">{{contactme.description}}</p>
        </div>
      </div>
   </div>
  </div>

  <br>
  <br>

  <div class="container-fluid" id="pageBreak">
    <br>
  </div>
  </body>
</html>
